* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  max-width: 100%;
  font-family: sans-serif;
  margin: 30px;
}

p {
  font-size: 15pt;
  line-height: 1.5em;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: magenta;
  background-color: #ffffff;
}

a:hover,
a:active {
  color: magenta;
  border: 1px solid;
  box-shadow: 5px 10px greenyellow;
}

input {
  line-height: 1.5em;
  margin: 5px;
}

div {
  margin: 20px;
}

.contenedor {
  max-width: 100%;
  margin: auto;
}

.cajita {
  border: 1px solid;
  box-shadow: 5px 10px greenyellow;
}

/* .sliderHorizontal {
  width: 100%;
} */

/* .sliderH {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d8c048;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
} */

/* .sliderH:hover {
  opacity: 1;
} */

.sliderH::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #db9e0f;
  cursor: pointer;
}

.sliderH::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c18911;
  cursor: pointer;
}

/* .sliderVertical {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical; 
 
} */
